<div class= "box">

<h1>
  JS DEVELOPS
</h1>


<h2>
  Jorge Silva
</h2>
 <%= image_tag 'me.jpg', class: 'img-fluid', height: '100', width: '100' %>

<p>
  Software Engineer student
</p>

<p>
  I am currently a software engineer student at FireHose Project.
  Learning to think, work, and tackle challenges as a professional
  Software Engineer.
</p>

<p>
   Check out my work on GitHub and read my blogs on Medium
</p>

<br />

 <a href="https://github.com/jsilvajr1" target="blank">
<%=image_tag("github.png") %>
</a>

<a href="https://medium.com/@jorge.silva.jr1" target="blank">
<%=image_tag("medium1.png") %>
</a>
</div>

<div class="body">

</div>
